.projects-title {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  font-size: 50;
  color: black;
  background-color: #fff7f4;
}
.projects-body {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fff7f4;
}
.project-card {
  width: 300px;
  height: 400px;
  background-color: #332e2e;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  border-radius: 45px;
  margin-left: 12px;
  margin-right: 12px;
  transition: all;
  transition-duration: 150ms;
}
.project-card:hover {
  scale: 1.05;
}
.project-card-title {
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.projects {
}
.project-image {
  width: auto;
  height: 75%;
  margin: 0;
  padding: 0;
}
.project-image img {
  height: 100%;
  border-radius: 16px;
}
.project-description {
    padding-top: 12px;
}
